main{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    width: 100%;
    height: 100%;
}

.Container{
    background-color: brown;
    width: 720px;
    height: 720px;
}

.Text{
    position: absolute;
    width: 577px;
    height: 48px;
    top: 168px;
    left: 240px;
    border: none;
    resize: none;
}

.exclamacion{ 
   float: left;
   margin: 0 10px 0 0;
      
}

#Advertencia{
    position: absolute;
    background-color: aqua;
    width: 290px;
    height: 18px;
    top: 851px;
    left: 240px;
}

input{
    position: relative;
    border-radius: 25px;
    width: 328px;
    height: 68px;
    padding: 24px;
    Top: 885px;
    Left: 240px;
    margin: 0 10px 0 0;
}

#Primero{
    background-color: #0A3871;
}